<div class="team-members-table">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Attendances</th>
      <th *ngIf="userType == 'mentor'" scope="col">Grade</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row-color" *ngFor="let user of teamDetails.members">
      <th scope="row">{{ user.id }}</th>
      <td>
        <img [src]="user.pictureUrl" width="34" height="34" class="rounded-circle" alt="">
      </td>
      <td>{{ user.name }}</td>
      <td>
        <span>{{ user.role }}</span>
      </td>
      <td>
        <span class="badge-attendance">{{ teamDetails.attendancesPerMember.at(teamDetails.members.indexOf(user)) }}</span>
      </td>
      <td *ngIf="userType == 'mentor'">
            <span [ngClass]="{
              'badge-grade-green': user.grade >= 8.0,
              'badge-grade-orange': user.grade < 8.0 && user.grade >= 5.0,
              'badge-grade-red': user.grade < 5.0
            }">{{ teamDetails.gradesPerMember.at(teamDetails.members.indexOf(user)) }}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
