
<div class="modal fade" id="assessmentModal" tabindex="-1" role="dialog" aria-labelledby="assessmentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable assessment-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assessmentModalLabel">Assessment Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="custom-close-button">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollable-content">
          <button class="btn btn-primary mb-3" (click)="markAllAsAttended()">Mark All as Attended</button>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Photo</th>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col">Attendance</th>
              <th scope="col">Grade</th>
              <th scope="col">Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of teamUsers">
              <td>{{ user.id }}</td>
              <td>
                <img [src]="user.imageUrl" width="34" height="34" class="rounded-circle" alt="">
              </td>
              <td>{{ user.username }}</td>
              <td>{{ user.role }}</td>
              <td>
                <button class="btn btn-toggle" [ngClass]="{ 'btn-toggle-attended': user.attendances, 'btn-toggle-unattended': !user.attendances }">
                  {{ user.attendances ? 'Attended' : 'Unattended' }}
                </button>
              </td>
              <td>
                <input type="number" class="form-control" [(ngModel)]="user.grade" name="gradeInput">
              </td>
              <td>
                <textarea class="form-control"  name="commentInput"></textarea>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" >Save</button>
      </div>
    </div>
  </div>
</div>
