/* Custom styles for the assessment modal */
.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-body {
  padding: 1rem;
}

/* Table styles */
.assessment-modal {
  max-width: 1000px;
}

.table {
  width: 100%;
}

.table th,
.table td {
  text-align: center;
}

.table th:first-child,
.table td:first-child {
  text-align: left;
}

.scrollable-content {
  max-height: 500px;
  overflow-y: auto;
}

@media (min-width: 992px) {
  .modal-dialog-centered {
    min-width: 1000px;
  }
}

/* Button at the top */
.modal-body .btn-primary {
  float: right;
  margin-top: -2rem;
  margin-right: 1rem;
}


.modal-footer button {
  font-size: 1rem;
}

.custom-close-button {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: var(--modals-button);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #38c519;
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:active {
  background-color: #008000;
}

.btn-toggle {
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.btn-toggle-attended {
  background-color: #4aab50;
  color: #fff;
}

.btn-toggle-unattended {
  background-color: var(--bs-red);
  color: #fff;
}

.btn-toggle:hover {
  filter: brightness(90%);
}

.btn-toggle:focus {
  outline: none;
  box-shadow: none;
}


.form-control.grade-input {
  max-width: 50px;
}


.form-control.comment-input {
  resize: vertical;
}

.comment-input::placeholder {
  color: #b9b9b9;
}

.assessment-title-input {
  flex-grow: 1;
  margin-left: 1rem; /* Adjust the distance from the Mark All button */
}
