

<!--<div class="modal fade" id="assessmentModal" tabindex="-1" role="dialog" aria-labelledby="assessmentModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="assessmentModalLabel">Assessment Modal</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true" class="custom-close-button">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="scrollable-content">-->
<!--          <div *ngFor="let user of teamUsers" class="user-row">-->
<!--            <div class="user-info">-->
<!--              <img [src]="user.imageUrl" alt="User Profile Picture" class="profile-picture">-->
<!--              <div class="user-details">-->
<!--                <h6 class="user-name">{{ user.username }}</h6>-->
<!--                <p class="user-role">{{ user.role }}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="user-assessment">-->
<!--              <div class="form-group">-->
<!--                <div class="form-check">-->
<!--                  <input class="form-check-input" type="checkbox" id="attendanceCheck" [(ngModel)]="user.attendances" name="attendanceCheck">-->
<!--                  <label class="form-check-label" for="attendanceCheck">Attendance</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="gradeInput">Grade</label>-->
<!--                <input type="number" class="form-control" id="gradeInput" [(ngModel)]="user.grade" name="gradeInput">-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="commentInput">Comment</label>-->
<!--                <textarea class="form-control" id="commentInput"  name="commentInput"></textarea>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary" (click)="saveAssessment()">Save</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="modal fade" id="assessmentModal" tabindex="-1" role="dialog" aria-labelledby="assessmentModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered modal-lg" role="document"> &lt;!&ndash; Added modal-lg class &ndash;&gt;-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="assessmentModalLabel">Assessment Modal</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true" class="custom-close-button">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="scrollable-content">-->
<!--          <div *ngFor="let user of teamUsers" class="user-row">-->
<!--            <div class="user-info">-->
<!--              <img [src]="user.imageUrl" alt="User Profile Picture" class="profile-picture">-->
<!--              <div class="user-details">-->
<!--                <h6 class="user-name">{{ user.username }}</h6>-->
<!--                <p class="user-role">{{ user.role }}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="user-assessment">-->
<!--              <div class="form-group">-->
<!--                <div class="form-check">-->
<!--                  <input class="form-check-input" type="checkbox" id="attendanceCheck" [(ngModel)]="user.attendances" name="attendanceCheck">-->
<!--                  <label class="form-check-label" for="attendanceCheck">Attendance</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="gradeInput">Grade</label>-->
<!--                <input type="number" class="form-control" id="gradeInput" [(ngModel)]="user.grade" name="gradeInput">-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="commentInput">Comment</label>-->
<!--                <textarea class="form-control" id="commentInput" name="commentInput"></textarea> &lt;!&ndash; Added ngModel for comment &ndash;&gt;-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary" (click)="saveAssessment()">Save</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="modal fade" id="assessmentModal" tabindex="-1" role="dialog" aria-labelledby="assessmentModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered modal-xl" role="document"> &lt;!&ndash; Added modal-xl class for a wider modal &ndash;&gt;-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="assessmentModalLabel">Assessment Modal</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true" class="custom-close-button">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <table class="table table-striped">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th scope="col">ID</th>-->
<!--            <th scope="col">Photo</th>-->
<!--            <th scope="col">Name</th>-->
<!--            <th scope="col">Role</th>-->
<!--            <th scope="col">Attendance</th>-->
<!--            <th scope="col">Grade</th>-->
<!--            <th scope="col">Comment</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let user of teamUsers">-->
<!--            <td>{{ user.id }}</td>-->
<!--            <td>-->
<!--              <img [src]="user.imageUrl" width="34" height="34" class="rounded-circle" alt="">-->
<!--            </td>-->
<!--            <td>{{ user.username }}</td>-->
<!--            <td>{{ user.role }}</td>-->
<!--            <td>-->
<!--              <input class="form-check-input" type="checkbox" [(ngModel)]="user.attendances" name="attendanceCheck">-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="number" class="form-control" [(ngModel)]="user.grade" name="gradeInput">-->
<!--            </td>-->
<!--            <td>-->
<!--              <textarea class="form-control"  name="commentInput"></textarea>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary" (click)="saveAssessment()">Save</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="modal fade" id="assessmentModal" tabindex="-1" role="dialog" aria-labelledby="assessmentModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="assessmentModalLabel">Assessment Modal</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true" class="custom-close-button">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="mark-attended-button">-->
<!--          <button type="button" class="btn btn-primary">Mark all as attended</button>-->
<!--        </div>-->
<!--        <div class="scrollable-content">-->
<!--          <table class="table table-striped">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th scope="col">ID</th>-->
<!--              <th scope="col">Photo</th>-->
<!--              <th scope="col">Name</th>-->
<!--              <th scope="col">Role</th>-->
<!--              <th scope="col">Attendance</th>-->
<!--              <th scope="col">Grade</th>-->
<!--              <th scope="col">Comment</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let user of teamUsers">-->
<!--              <td>{{ user.id }}</td>-->
<!--              <td>-->
<!--                <img [src]="user.imageUrl" width="34" height="34" class="rounded-circle" alt="">-->
<!--              </td>-->
<!--              <td>{{ user.username }}</td>-->
<!--              <td>{{ user.role }}</td>-->
<!--              <td>-->
<!--                <input class="form-check-input" type="checkbox" [(ngModel)]="user.attendances" name="attendanceCheck">-->
<!--              </td>-->
<!--              <td>-->
<!--                <input type="number" class="form-control" [(ngModel)]="user.grade" name="gradeInput">-->
<!--              </td>-->
<!--              <td>-->
<!--                <textarea class="form-control"  name="commentInput"></textarea>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<!--        <button type="button" class="btn btn-primary" (click)="saveAssessment()">Send Assessment</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="modal fade" id="assessmentModal" tabindex="-1" role="dialog" aria-labelledby="assessmentModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable assessment-modal" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="assessmentModalLabel">Assessment Modal</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true" class="custom-close-button">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="scrollable-content">-->
<!--          <button class="btn btn-primary mb-3" (click)="markAllAsAttended()">Mark All as Attended</button>-->
<!--          <table class="table table-striped">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th scope="col">ID</th>-->
<!--              <th scope="col">Photo</th>-->
<!--              <th scope="col">Name</th>-->
<!--              <th scope="col">Role</th>-->
<!--              <th scope="col">Attendance</th>-->
<!--              <th scope="col">Grade</th>-->
<!--              <th scope="col">Comment</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let user of teamUsers">-->
<!--              <td>{{ user.id }}</td>-->
<!--              <td>-->
<!--                <img [src]="user.imageUrl" width="34" height="34" class="rounded-circle" alt="">-->
<!--              </td>-->
<!--              <td>{{ user.username }}</td>-->
<!--              <td>{{ user.role }}</td>-->
<!--              <td>-->
<!--                <button class="btn btn-toggle" [ngClass]="{ 'btn-toggle-attended': user.attendances, 'btn-toggle-unattended': !user.attendances }">-->
<!--                  {{ user.attendances ? 'Attended' : 'Unattended' }}-->
<!--                </button>-->
<!--              </td>-->
<!--              <td>-->
<!--                <input type="number" class="form-control" [(ngModel)]="user.grade" name="gradeInput">-->
<!--              </td>-->
<!--              <td>-->
<!--                <textarea class="form-control"  name="commentInput"></textarea>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary" (click)="saveAssessment()">Save</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="modal fade" id="assessmentModal" tabindex="-1" role="dialog" aria-labelledby="assessmentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable assessment-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assessmentModalLabel">Assessment Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="custom-close-button">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollable-content">
          <button class="btn btn-primary mb-3" (click)="markAllAsAttended()">Mark All as Attended</button>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Photo</th>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col">Attendance</th>
              <th scope="col">Grade</th>
              <th scope="col">Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of teamUsers">
              <td>{{ user.id }}</td>
              <td>
                <img [src]="user.imageUrl" width="34" height="34" class="rounded-circle" alt="">
              </td>
              <td>{{ user.username }}</td>
              <td>{{ user.role }}</td>
              <td>
                <button class="btn btn-toggle" [ngClass]="{ 'btn-toggle-attended': user.attendances, 'btn-toggle-unattended': !user.attendances }">
                  {{ user.attendances ? 'Attended' : 'Unattended' }}
                </button>
              </td>
              <td>
                <input type="number" class="form-control" [(ngModel)]="user.grade" name="gradeInput">
              </td>
              <td>
                <textarea class="form-control"  name="commentInput"></textarea>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" >Save</button>
      </div>
    </div>
  </div>
</div>
