
<div class="modal fade" id="assessmentModal" tabindex="-1" role="dialog" aria-labelledby="assessmentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable assessment-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assessmentModalLabel">New Session Assessment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="custom-close-button">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="static-row mb-3 d-flex align-items-center">
          <button class="btn btn-primary mr-3" (click)="markAllAsAttended()">Mark All as Attended</button>
          <div class="form-group mb-0">
            <label for="assessmentTitle">Session Title:</label>
            <input type="text" class="form-control" id="assessmentTitle" [(ngModel)]="assessmentTitle">
          </div>
        </div>

        <div class="scrollable-content">


          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Photo</th>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col">Attendance</th>
              <th scope="col">Grade</th>
              <th scope="col">Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let assessment of assessments">
              <td>{{ assessment.user.id }}</td>
              <td>
                <img [src]="assessment.user.pictureUrl" width="34" height="34" class="rounded-circle" alt="">
              </td>

              <td>{{ assessment.user.name }}</td>
              <td>{{ assessment.user.role }}</td>

              <td>
                <button class="btn btn-toggle" [ngClass]="{ 'btn-toggle-attended': assessment.attended, 'btn-toggle-unattended': !assessment.attended }"
                        (click)="toggleAttendance(assessment)">
                  {{ assessment.attended ? 'Attended' : 'Unattended' }}
                </button>
              </td>
              <td>
                <input type="number" class="form-control" [(ngModel)]="assessment.grade" name="gradeInput">
              </td>
              <td>
                <textarea class="form-control" placeholder="Optional comment.." name="commentInput" [(ngModel)]="assessment.comment"></textarea>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
        <button type="button" class="btn btn-primary" > Send Assessments </button>
      </div>
    </div>
  </div>
</div>
