<div class="team-card-container" [routerLink]="['/team-details']" [queryParams]="{userName: loggedUser.name, activityName: activity, teamName: team.name}">
  <div class="team-card">
    <div class="team-card-header">
      <h3>{{ team.name }}</h3>
      <div class="team-grade-box">
        <span>{{ 0 }}</span>
      </div>
    </div>
    <div class="team-card-content">
      <p>Leader: {{ team.leader.name }}</p>
      <app-progress-bar  [grade]="0"></app-progress-bar>
    </div>
  </div>
</div>
