<div class="team-card-container" [routerLink]="['/team-details']" [queryParams]="{userName: loggedUser.username, activityName: activity, teamName: team.name}">
  <div class="team-card">
    <div class="team-card-header">
      <h3>{{ team.name }}</h3>
      <div class="team-grade-box">
        <span>{{ team.grade }}</span>
      </div>
    </div>
    <div class="team-card-content">
      <p>Leader: {{ team.team_leader_name }}</p>
      <app-progress-bar  [grade]="team.grade"></app-progress-bar>
    </div>
  </div>
</div>
