<div class="team-header">
  <div class="header-content">
    <div>
      <h3 class="header-title">TEAM {{team?.name}}`s Members</h3>
      <app-progress-bar [grade]="teamGrade"></app-progress-bar>
    </div>
  </div>
</div>

<div class="buttons-container">
  <div class="team-info">
    <div class="team-grade" [ngClass]="{
              'badge-grade-green': teamGrade >= 8.0,
              'badge-grade-orange': teamGrade < 8.0 && teamGrade >= 5.0,
              'badge-grade-red': teamGrade < 5.0
            }">
      <span class="label">Team Grade:</span>
      <span>{{ teamGrade }}</span>
    </div>
    <div class="team-members">
      <span class="label">Members:</span>
      <span class="value">{{ members.length }}</span>
    </div>
  </div>
  <div class="actions">
    <button class="export-button" (click)="exportSituation()"><i class="fas fa-file-export"></i> Export</button>
    <button class="assessment-button"><i class="fas fa-clipboard-check"></i>  Assessment</button>
  </div>
</div>

<div class="team-members-table">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Attendances</th>
      <th scope="col">Grade</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row-color" *ngFor="let member of members">
      <th scope="row">{{ member.id }}</th>
      <td>
        <img [src]="member.imageUrl" width="34" height="34" class="rounded-circle" alt="">
      </td>
      <td>{{ member.username }}</td>
      <td>
        <span>{{ member.role }}</span>
      </td>
      <td>
        <span class="badge-attendance">{{ member.attendances }} / 20</span>
      </td>
      <td>
            <span [ngClass]="{
              'badge-grade-green': member.grade >= 8.0,
              'badge-grade-orange': member.grade < 8.0 && member.grade >= 5.0,
              'badge-grade-red': member.grade < 5.0
            }">{{ member.grade }}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
