.dashboard-container {
  width: 90%;
  margin: 0 auto;
}

.sessions-container{
  flex-direction: column;
}

.team-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  background-color: rgba(51, 51, 51, 0.9);
  box-shadow: #333333;
  border-radius: 8px;
  padding: 10px;
}
