.dashboard-container {
  width: 90%;
  margin: 0 auto;
}

.sessions-container{
  flex-direction: column;
}

.team-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  background-color: var(--header-background-color);
  border-radius: 8px;
  padding: 10px;
}
