<div class="dashboard-container">

  <div class="team-header">

    <div class="header-content">
      <h3 class="header-title">USER`S SITUATION</h3>
    </div>

  </div>

  <div class="user-profile">
    <div class="profile-header">
      <div class="user-details-card">
        <div class="user-picture-container">
          <img class="user-picture" src="https://robohash.org/profilepicture.jpeg?bgset=bg1" alt="User Picture">
          <div class="change-photo">Change Photo</div>

        </div>
        <div class="user-details">
          <h2 class="user-name">Username Here</h2>
          <p class="team-name">Team: Team Name</p>
          <p class="email">Email: random.email@gmail.com</p>
          <p class="user-role">Role: MENTOR</p>
          <p class="total-attendances">Total Attendances: 20</p>
          <p class="total-activities">Activities Enrolled: 6</p>
          <p class="session-assessments">Session Assessments: 10</p>
        </div>
      </div>
    </div>

    <div class="sessions-container">
      <app-session-card></app-session-card>
      <app-session-card></app-session-card>
      <app-session-card></app-session-card>
      <app-session-card></app-session-card>
      <app-session-card></app-session-card>
      <app-session-card></app-session-card>
    </div>
  </div>


</div>
