<div>
<div class="team-header">

  <div class="header-content">
    <h3 class="header-title">{{loggedUser.user.name}}`S SITUATION</h3>
  </div>
</div>
<button mat-button  (click)="showManualError()">Show Manual Error</button>

<ng-container [ngSwitch]="appState">
  <div *ngSwitchCase="AppState.LOADING">
    <div class="d-flex justify-content-center mt-4">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="AppState.LOADED">
    <ng-container class="user-profile">
      <div class="profile-header">
        <div class="user-details-card">
          <div class="user-picture-container">
            <img class="user-picture" src="{{loggedUser.user.pictureUrl}}" alt="User Picture">
            <div class="change-photo">Change Photo</div>
          </div>
          <div class="user-details">
            <h2 class="user-name">{{loggedUser.user.name}}</h2>
            <!--        <p class="team-name">Team: {{loggedUser?.name}}</p>-->
            <p class="email">Email: random.email@gmail.com</p>
            <p class="user-role">Role: {{loggedUser.user.role}}</p>
            <!--            <p class="total-activities">Activities: {{loggedUser?.activities}}</p>-->
            <!--            <p class="total-attendances" *ngIf="logged.user.role != 'MENTOR'">Attendances: {{logged.user.attendances}}</p>-->
            <!--            <p class="session-assessments" *ngIf="logged.user.role != 'MENTOR'">Session Assessments: 10</p>-->
          </div>
        </div>
      </div>

        <ng-container *ngIf="loggedUser.user.role != 'MENTOR'">
          <div class="sessions-container" *ngIf="userAssessments$ | async as assessments">
            <!--      <app-session-card></app-session-card>-->
            <!--      <app-session-card></app-session-card>-->
            <!--      <app-session-card></app-session-card>-->


            <app-session-card *ngFor="let assessment of assessments" [assessment]="assessment"></app-session-card>
          </div>
        </ng-container>

        <ng-container>
          <div class="alert alert-secondary" role="alert">
            Since you are a MENTOR, you can only assign assessments to teams and users..
          </div>
        </ng-container>
    </ng-container>
  </div>

  <div *ngSwitchCase="AppState.EMPTY">
    <div class="alert alert-secondary" role="alert">
      Seems like there is no assessment data for you yet.
    </div>
  </div>

</ng-container>

</div>
