.login-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 45px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  animation: fadeIn 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Input fields and select */
input[type="text"],
select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #333333;
  border-radius: 4px;
  width: 100%;
  max-width: 1000px;
  transition: border-color 0.3s ease-in-out;


}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* User Type Buttons */
.user-type-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-type-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #333333;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #333333;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Selected User Type Button */
.user-type-button.active {
  background-color: #333333;
  color: #fff;
  border-color: #333333;
}

/* On Hover Effect */
.user-type-button:hover {
  background-color: #333333;
  color: #fff;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

/*input[type="text"],*/
/*select {*/
/*  padding: 10px;*/
/*  font-size: 14px;*/
/*  border: 1px solid ;*/
/*  border-radius: 4px;*/
/*  transition: border-color 0.3s ease-in-out;*/
/*}*/

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #424040;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: var(--modals-button);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: var(--modals-button);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form-error-message {
  color: red;
}

.form-footer {
  display: flex;
  justify-content: center;
}

.form-group {
  margin: 10px;
}

.form-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: var(--modals-button);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-button:hover {
  background-color: var(--modals-button);
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: var(--modals-button);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%; /* Make the buttons the same width as the inputs */
  max-width: 300px; /* Limit the max-width to prevent stretching on larger screens */
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 120px; /* Set the maximum width of the logo */
  display: block; /* Center the logo horizontally */
  margin: 0 auto;
}
