.modal {
  background-color: transparent;
  border: none;
}

.modal-content {
  box-shadow: none;
}

.modal.fade.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal.fade .modal-dialog {
  transition: transform 0.3s;
}

.modal.fade.show .modal-dialog {
  transform: translate(0, 0);
}

.custom-close-button {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  transition: color 0.3s;
  cursor: pointer;
}

.custom-close-button:hover {
  color: red;
}

.custom-close-button:active {
  color: darkred;
}

.btn-secondary {
  background-color: black;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #222;
}

.btn-secondary:hover {
  background-color: #333;
}

.btn-secondary:active {
  background-color: #222;
}

.btn-primary {
  background-color: green;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #2b6f2b;
}

.btn-primary:hover {
  background-color: #3d8b3d;
}

.btn-primary:active {
  background-color: #2b6f2b;
}

.custom-join-button:focus {
  outline: green;
  box-shadow: none;
}

