<div class="team-header">
  <div class="header-content">
    <div>
      <h3 class="header-title" *ngIf="getPath()">{{activityName}}</h3>
      <h3 class="header-title" *ngIf="!getPath() && userType == 'MENTOR'">{{teamName}}</h3>
      <h3 class="header-title" *ngIf="!getPath() && userType != 'MENTOR'">{{activityName}}</h3>
    </div>
  </div>
</div>

<div class="buttons-container">
  <div class="team-info" *ngIf="!getPath()">
    <div class="team-grade" [ngClass]="{
              'badge-grade-green': teamDetails.teamGrade >= 8.0,
              'badge-grade-orange': teamDetails.teamGrade < 8.0 && teamDetails.teamGrade >= 5.0,
              'badge-grade-red': teamDetails.teamGrade < 5.0
            }">
      <span class="label">Team Grade:</span>
      <span>{{ teamDetails.teamGrade }}</span>
    </div>
    <div class="team-members">
      <span class="label">Members:</span>
      <span class="value">{{ teamDetails.members.length }}</span>
    </div>
  </div>
  <div class="team-info" *ngIf="getPath()">
    <div class="team-grade">
      <span class="label">Number of teams:</span>
      <span class="value">{{ number }}</span>
    </div>
  </div>

  <div class="actions">
    <div>
      <button class="export-button" (click)="exportSituation()"><i class="fas fa-file-export"></i> Export</button>
      <button class="assessment-button" *ngIf="!getPath() && userType=='MENTOR'" (click)="openAssessmentModal()"><i class="fas fa-clipboard-check"></i> Assessment</button>
    </div>
  </div>

</div>

<app-assessment-modal *ngIf="!getPath()" [teamUsers]="teamDetails.members" [activityName]="activityName"  [teamName]="teamName" ></app-assessment-modal>
