<div class="buttons-container">
  <div class="team-info" *ngIf="userType != 'MENTOR'">
    <div class="team-grade">
      <span class="label">Team Grade:</span>
      <span class="value">{{ teamGrade }}</span>
    </div>
    <div class="team-members">
      <span class="label">Members:</span>
      <span class="value">{{ number }}</span>
    </div>
  </div>
  <div class="team-info" *ngIf="userType == 'mentor'">
    <div class="team-grade">
      <span class="label">Number of teams:</span>
      <span class="value">{{ number }}</span>
    </div>
  </div>
  <div class="actions">
    <div>
      <button class="export-button" (click)="exportSituation()"><i class="fas fa-file-export"></i> Export</button>
      <button class="assessment-button" *ngIf="userType == 'mentor'"><i class="fas fa-clipboard-check"></i>  Assessment</button>
    </div>
  </div>
</div>
