<div class="buttons-container">
  <div class="team-info" *ngIf="userType != 'mentor'">
    <div class="team-grade">
      <span class="label">Team Grade:</span>
      <span [ngClass]="{
              'badge-grade-green': teamGrade >= 8.0,
              'badge-grade-orange': teamGrade < 8.0 && teamGrade >= 5.0,
              'badge-grade-red': teamGrade < 5.0
            }">{{ teamGrade }}</span>
    </div>
    <div class="team-members">
      <span class="label">Members:</span>
      <span class="value">{{ number }}</span>
    </div>
  </div>
  <div class="team-info" *ngIf="userType == 'mentor'">
    <div class="team-grade">
      <span class="label">Number of teams:</span>
      <span class="value">{{ number }}</span>
    </div>
  </div>
  <div class="actions">
    <div>
      <button class="export-button" (click)="exportSituation()"><i class="fas fa-file-export"></i> Export</button>
      <button class="assessment-button" *ngIf="userType === 'mentor'" (click)="openAssessmentModal()"><i class="fas fa-clipboard-check"></i> Assessment</button>
    </div>
  </div>
</div>

<app-assessment-modal (saveAssessmentEvent)="handleSaveAssessment($event)" #assessmentModalRef></app-assessment-modal>
