
<body>

<div class="app-container">
  <app-navigation></app-navigation>

  <div id="main" class="content-container">
    <!--      <div class="header">-->
    <!--      </div>-->

    <!--      <div class="teams">-->
    <!--        <h2>Teams</h2>-->
    <!--        <ul>-->
    <!--          <li>Team 1</li>-->
    <!--          <li>Team 2</li>-->
    <!--          <li>Team 3</li>-->

    <!--        </ul>-->
    <!--      </div>-->
    <app-dashboard></app-dashboard>

    <!-- user profile component   -->
    <app-user-box></app-user-box>
  </div>
</div>
