

<body>


<div class="app-container">
  <div class="side-panel">

    <div class="side-panel-header">Activities</div>


    <ul class="activity-list">
      <li>Activity 1</li>
      <li>Activity 2</li>
      <li>Activity 3</li>
    </ul>

  </div>

  <div class="user-box">
    <div class="user-profile">
      User Profile
    </div>
    <div class="username">
      Username
    </div>
  </div>

  <div class="content-container">
    <!--      <div class="header">-->
    <!--      </div>-->

    <!--      <div class="teams">-->
    <!--        <h2>Teams</h2>-->
    <!--        <ul>-->
    <!--          <li>Team 1</li>-->
    <!--          <li>Team 2</li>-->
    <!--          <li>Team 3</li>-->

    <!--        </ul>-->
    <!--      </div>-->

    <app-dashboard></app-dashboard>



  </div>
</div>
