<!--<mat-dialog-content>-->
<!--  <h2>Attendance</h2>-->
<!--  <div class="scrollable-modal">-->
<!--    <div *ngFor="let member of teamMembers" class="member-item">-->
<!--      <img [src]="member.profilePicture" alt="Profile Picture" class="profile-picture">-->
<!--      <div class="member-details">-->
<!--        <h4>{{ member.name }}</h4>-->
<!--        <p>{{ member.role }}</p>-->
<!--        <mat-checkbox [(ngModel)]="member.attendanceChecked">Check Entry</mat-checkbox>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</mat-dialog-content>-->
<!--<mat-dialog-actions align="end">-->
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
<!--  <button mat-button color="primary" (click)="addAttendance()">Add</button>-->
<!--</mat-dialog-actions>-->
