
<div class="dashboard-container">
  <div class="team-header">
    <div class="header-content">
      <div *ngIf="userType === 'mentor'">
        <h3 class="header-title">Activity XXXX</h3>

      </div>

      <div *ngIf="userType === 'team lead'" >
        <h3 class="header-title">TEAM XXXX Members</h3>
        <app-progress-bar [grade]="teamGrade"></app-progress-bar>
      </div>
    </div>
  </div>


  <div class="buttons-container">
    <div class="team-info">
      <div class="team-grade">
        <span class="label">Team Grade:</span>
        <span class="value">{{ teamGrade }}</span>
      </div>
      <div class="team-members">
        <span class="label">Team Members:</span>
        <span class="value">{{ members.length }}</span>
      </div>
    </div>
    <div class="actions">
      <span class="export-icon" (click)="exportSituation()"><i class="fas fa-file-export"></i></span>
      <button class="attendances-button" *ngIf="userType !== 'team lead'">Attendances</button>
    </div>
  </div>



  <div class="team-members-table" *ngIf="userType === 'team lead'">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Attendances</th>
        <th scope="col">Grade</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-color">
        <th scope="row">id here</th>
        <td>
          <img src="https://robohash.org/12?bgset=bg1" width="38" height="38" class="rounded-circle" alt="">
        </td>
        <td>username here</td>
        <td>role here</td>
        <td>attendances here</td>
        <td>pers grade here</td>
      </tr>
      <tr class="row-color">
        <th scope="row">id here</th>
        <td>
          <img src="https://robohash.org/1?bgset=bg1" width="38" height="38" class="rounded-circle" alt="">
        </td>
        <td>username here</td>
        <td>role here</td>
        <td>attendances here</td>
        <td>pers grade here</td>
      </tr>
      <tr class="row-color">
        <th scope="row">id here</th>
        <td>
          <img src="https://robohash.org/134?bgset=bg2" width="38" height="38" class="rounded-circle" alt="">
        </td>
        <td>username here</td>
        <td>role here</td>
        <td>attendances here</td>
        <td>pers grade here</td>
      </tr>
      <tr class="row-color">
        <th scope="row">id here</th>
        <td>
          <img src="https://robohash.org/1331?bgset=bg1" width="38" height="38" class="rounded-circle" alt="">
        </td>
        <td>username here</td>
        <td>role here</td>
        <td>attendances here</td>
        <td>pers grade here</td>
      </tr><tr class="row-color">
        <th scope="row">id here</th>
        <td>
          <img src="https://robohash.org/112312?bgset=bg2" width="38" height="38" class="rounded-circle" alt="">
        </td>
        <td>username here</td>
        <td>role here</td>
        <td>attendances here</td>
        <td>pers grade here</td>
      </tr>


      </tbody>
    </table>
  </div>


  <div class="teams-container" *ngIf="userType === 'mentor'">
    <app-team-card
      teamName="SOLID"
      teamLeader="Leader Here"
    ></app-team-card>
    <app-team-card
      teamName="SOLID"
      teamLeader="Leader Here"
    ></app-team-card>
    <app-team-card
      teamName="SOLID"
      teamLeader="Leader Here"
    ></app-team-card>
    <app-team-card
      teamName="SOLID"
      teamLeader="Leader Here"
    ></app-team-card>
    <app-team-card
      teamName="SOLID"
      teamLeader="Leader Here"
    ></app-team-card>
    <app-team-card
      teamName="SOLID"
      teamLeader="Leader Here"
    ></app-team-card>
    <app-team-card
      teamName="SOLID"
      teamLeader="Leader Here"
    ></app-team-card>

  </div>

  <!-- Join Activity Modal -->
  <app-join-activity-modal></app-join-activity-modal>

  <!-- Create Activity Modal -->
  <app-create-activity-modal></app-create-activity-modal>




</div>
