<div id="sidepanel" class="side-panel" style="width: 250px;">
  <header class="sidenav-header">Activities</header>

  <!--  *ngIf="enrolledActivities$ | async as activities"-->
  <main class="sidenav" >
    <app-activity *ngFor="let activity of activitiesList"
                  [activity]="activity"
                  [user]="user"
                  [team]="getTeam()"
    >
    </app-activity>
  </main>

  <div class="button-container">
    <button *ngIf="userRole != 'MEMBER'" type="button" class="button" (click)="showJoinActivityModal()">+ Join</button>
    <button *ngIf="userRole == 'mentor'" type="button" class="button" (click)="showCreateActivityModal()">+ Create</button>
  </div>
  <footer>

    <div class="user-box" [routerLink]="['/user-assessments']" routerLinkActive="active" [queryParams]="{userName: user.username}">
      <img class="user-profile-picture" src="{{user.imageUrl}}" alt="User Profile">
<!--      src="https://robohash.org/profilepic.jpeg?bgset=bg1" -->
      <div class="user-details">
        <div class="user-profile">
          {{user.username}}
        </div>
        <div class="username">
          {{user.role}}
        </div>
      </div>
    </div>
  </footer>
</div>

<div id="collapse" class="collapse-div" onclick="opencloseNav()">
<!--  <i id="arrow" class="fa-solid fa-arrow-left"></i>-->
  <i class="fa-solid fa-bars"></i>
</div>

<!-- Join Activity Modal -->
<app-join-activity-modal></app-join-activity-modal>

<!-- Create Activity Modal -->
<app-create-activity-modal></app-create-activity-modal>
