.side-panel {
  height: calc(100% - 50px);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  /* background-color: white; */
  /* border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 25px;

}

.sidenav-header {
  background-color: var(--header-background-color);
  color: white;
  height: 60px;
  width: 250px;
  text-align: center;
  font-size: 30px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.sidenav {
  flex: 1;
  top: 0;
  left: 0;
  width: 250px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  text-align: center;
  background-color: var(--frame-background-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.sidenav a {
  padding: 10px 8px 10px 16px;
  margin: 5px;
  text-decoration: none;
  font-size: 25px;
  color: var(--button-text);
  background-color: var(--button);
  display: block;
  border-radius: 8px;
  border: 1px solid var(--button);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.sidenav a:hover {
  border: 1px solid var(--button-hover);
}
/*.sidenav a.active{*/
/*  background-color: #405e50;*/
/*}*/


.button-container {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--frame-background-color);


}

.button {
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--modals-button);
  color: white;
  border: 1px solid var(--frame-background-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}
.button:hover{
  background-color: var(--modals-button-hover);
  border: 1px solid var(--modals-button-hover);
}

footer {
  height: 5rem;
  margin-top: 25px;

}

.user-box {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--frame-background-color);
  height: 5rem;
  width: 250px;
  border-radius: 8px;

  border: 2px solid var(--background-color);


}

.user-box:hover {
  border: 2px solid var(--button);
}

.active{
  border: 2px solid var(--button);
}

.user-profile {
  font-weight: bold;
  padding-top: 15px;
  padding-left: 20%;

}

.username {
  padding-left: 20%;
}



.collapse-div{
  height: 100%;
  line-height: 100%;
  width: 20px;
  cursor: pointer;
  left: 0;
  top: 0;
  transition: margin-left .6s;
  margin-left: 275px;
  position: fixed;
  font-weight:bold;
  font-size:20px;
  color: var(--frame-background-color);
  display: flex;
  align-items: center;
  padding-left: 3px;
}
.collapse-div :hover{
  transform: scale(1.25);
}
