<div id="sidepanel" class="side-panel" style="width: 250px;">
  <header class="sidenav-header">Activities</header>

  <!--  *ngIf="enrolledActivities$ | async as activities"-->
  <main class="sidenav" *ngIf="enrolledActivities$ | async as activities">

    <ng-container [ngSwitch]="panelState">
      <div *ngSwitchCase="AppState.LOADING">
        <div class="d-flex justify-content-center mt-4">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="AppState.LOADED">
        <app-activity *ngFor="let activity of activities"
                      [activity]="activity"
                      [user]="loggedUser.user"
                      [team]="loggedUser.team">
        </app-activity>
      </div>

      <div *ngSwitchCase="AppState.EMPTY">
          <span> No activity joined yet</span>
      </div>


    </ng-container>


  </main>

  <div class="button-container">
    <button *ngIf="loggedUser.user.role != 'MEMBER'" type="button" class="button" (click)="showJoinActivityModal()">+ Join</button>
    <button *ngIf="loggedUser.user.role == 'MENTOR'" type="button" class="button" (click)="showCreateActivityModal()">+ Create</button>
  </div>
  <footer>

    <div class="user-box" [routerLink]="['/user-assessments']" routerLinkActive="active" [queryParams]="{userName: loggedUser.user.name}">
      <img class="user-profile-picture" src="{{loggedUser.user.pictureUrl}}" alt="User Profile">
<!--      src="https://robohash.org/profilepic.jpeg?bgset=bg1" -->
      <div class="user-details">
        <div class="user-profile">
          {{loggedUser.user.name}}
        </div>
        <div class="username">
          {{loggedUser.user.role}}
        </div>
      </div>
    </div>
  </footer>
</div>

<div id="collapse" class="collapse-div" onclick="opencloseNav()">
<!--  <i id="arrow" class="fa-solid fa-arrow-left"></i>-->
  <i class="fa-solid fa-bars"></i>
</div>

<!-- Join Activity Modal -->
<app-join-activity-modal></app-join-activity-modal>

<!-- Create Activity Modal -->
<app-create-activity-modal></app-create-activity-modal>
