:root{
  --background-color: #222;
  --frame-background-color: white;
  --header-background-color: #222;
  --button: #eeecec;
  --button-hover: #444;
  --button-text: black;
  --modals-button: #0b9611;
  --modals-button-hover: #0da914;
}
